
**/.DS_Store
**/*.pyc

**/*.err
**/*.log
**/*.out
**/*.rpt

**/*.env
**/*.docx
**/*.pdf
**/*.xlsx
**/*.bkp
**/*.csv

.secrets-db-password
.obsolete/
.vscode/

local/stage/*.bkp
local/tmp/*
local/python/__pycache__/
