test: {
  assets: ['home', 'log', 'rpt', 'stage', 'etc', 'src']
  
  home_assets: {
    src_dir: '/tmp/troload'
    trg_dir: '/test/troload'
    file_names: ['requirements.txt']
    file_mode: '640'
  }

  log_assets: {
    src_dir: '/tmp/troload/local/log'
    trg_dir: '/test/troload/local/log'
    file_names: []
    file_mode: 640
  }

  rpt_assets: {
    src_dir: '/tmp/troload/local/rpt'
    trg_dir: '/test/troload/local/rpt'
    file_names: []
    file_mode: 640
  }

  stage_assets: {
    src_dir: '/tmp/troload/local/stage'
    trg_dir: '/test/troload/local/stage'
    file_names: []
    file_mode: 640
  }

  etc_assets: {
    src_dir: '/tmp/troload/local/etc'
    trg_dir: '/test/troload/local/etc'
    file_names: ['troload.cfg']
    file_mode: 640
  }

  src_assets: {
    src_dir: '/tmp/troload/src'
    trg_dir: '/test/troload/src'
    file_names: ['accounts.py', 'categories.py', 'transwkbk.py', 'troload.py']
    file_mode: 640
  }

#   load_assets: {
#     src_dir: '/tmp/troload/troload'
#     trg_dir: '/test/troload/troload'
#     file_names: ['Dockerfile', 'install-packages.sh', 'requirements.txt']
#     file_mode: 640
#   }

#   bin_assets: {
#     src_dir: '/tmp/troload/troload/src/local/bin'
#     trg_dir: '/test/troload/troload/src/local/bin'
#     file_names: ['runmypy.sh']
#     file_mode: 750
#   }

#   sql_assets: {
#     src_dir: '/tmp/troload/troload/src/local/sql'
#     trg_dir: '/test/troload/troload/src/local/sql'
#     file_names: ['grant_permsissions.sql']
#     file_mode: 640
#   }

#   modules_assets: {
#     src_dir: '/tmp/troload/local/python/modules'
#     trg_dir: '/test/troload/local/python/modules'
#     file_names: ['jspgeng.py', 'jsstdrpt.py']
#     file_mode: 640
#   }
}
