[general]
app_name = "TROLoadBank"

[devl]
# home_dir = "~/devl/troload/src/troloadbank"
home_dir = "/opt/app/troloadbank"
log_level = "DEBUG"

[test]
home_dir = "/opt/app/troloadbank"
log_level = "DEBUG"

[prod]
home_dir = "/opt/app/troloadbank"
log_level = "INFO"
