[defaults]
inventory = inventory
#  collections_path = /opt/homebrew/Cellar/ansible/11.2.0/libexec/lib/python3.13/site-packages/ansible_collections

#  Disable the message about where python was found
interpreter_python = auto_silent

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
#  Enable SSH Agent Forwarding so that the private key used to be able to
#  checkout from git does not have to be on the server
ssh_args=-o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ForwardAgent=yes

