#  This be troload configuration file.
devl: {
    home_dir: '/home/container/troload'
    log_level: 'DEBUG'
}
test: {
    home_dir: '/home/container/troload'
    log_level: 'DEBUG'
}
prod: {
    home_dir: '/home/container/troload'
    log_level: 'INFO'
}
