#  This be troload configuration file.
devl: {
    home_dir: '/Users/jeff/devl/troload'
    log_level: 'DEBUG'
    database_host: 'localhost'
}
test: {
    home_dir: '/home/container/troload'
    log_level: 'DEBUG'
}
prod: {
    home_dir: '/home/container/troload'
    log_level: 'INFO'
}
