#  This be troload configuration file.
general: {
    app_name: 'TROLoad'
}
devl: {
    home_dir: '/Users/jeff/devl/troload'
    stage_dir: '/Volumes/Shared Space/TROStage'
    log_level: 'DEBUG'
    database_host: 'localhost'
}
test: {
    home_dir: '/Users/jeff/test/troload'
    stage_dir: '/Users/jeff/test/troload/local/stage'
    log_level: 'DEBUG'
    database_host: 'localhost'
}
prod: {
    home_dir: '/home/container/troload'
    stage_dir: '/Users/jeff/prod/troload/local/stage'
    log_level: 'INFO'
    database_host: 'localhost'
}
#     stage_dir: '/Users/jeff/devl/troload/local/stage'
