#  This be troload configuration file.
general: {
    app_name: 'TROLoad'
    app_version: '0.2.0'
}
devl: {
    home_dir: '/Users/jeff/devl/troload'
    log_level: 'DEBUG'
    database_host: 'localhost'
}
test: {
    home_dir: '/Users/jeff/test/troload'
    log_level: 'DEBUG'
    database_host: 'localhost'
}
prod: {
    home_dir: '/home/container/troload'
    log_level: 'INFO'
    database_host: 'localhost'
}
